.button {
}

.disabled {
    color: #00cc22;
}

.secondary {
    color: #00cc22;
}

.default {
    color: black;
}

.red {
   color: #cc0000;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
